<div class="switch" ng-click="showNote = !showNote">
   <i class="glyphicon glyphicon-earphone"></i>
</div>

<div class="note" ng-class="{active: showNote}">
   <div class="style-swticher-header">
      <div class="heading">ERP & CALC <i class="glyphicon glyphicon-remove-circle" ng-click="showNote = !showNote"></i></div>
   </div>
   <br>
   <div class="style-swticher-body">

      [[WeShowYouOurSoftwareOnYourPC]]
      <br>
      <br>
      <a href="softwareStandard.html#request-demo">
         <button class="btn rf-btn">
            [[RequestDemo]]
         </button>
      </a>

      <br>
      <!--br>
      <br>

      [[orTestYourself]]
      <br>
      <br>
      <a href="https://demo.rapidfacture.net">
         <button class="btn rf-btn">
            [[GoToOnlineDemo]]
         </button>
      </a-->

      <br>
      <img style="width: 100px" class="contact" src="./img/team/felix_350.png" alt="felixFurtmayr"/>
      <br>
      <br>
      <b>Felix Furtmayr</b>
      <br>
      [[yourContactPerson]]
      <br>
      Tel: 49 89 2154 018 - 33
      <br>
      <a title="E-Mail" href="mailto:software@rapidfacture.com">
         software@rapidfacture.com
      </a>
   </div>
</div>
