.rf-btn {
   color: #fff;
   background-color: $orange;

   &:hover {
      opacity: 0.75;
      color: #fff;
   }
}

.rf-btn-thin {
   @extend .rf-btn;
   width: 100%;
   padding: 2%;
   color: $darkgrey;
   background-color: $lightgrey;
   margin-bottom: 5%;
}

.rf-btn-thin:hover {
   background-color: $darkgrey;
}

.btn-disabled {
   color: #000;
   background-color: #ccc;
}

.btn-disabled:hover {
   color: #000;
}
