.validate {
   input,
   select,
   textarea {
      &.rf-form {
         &.ng-invalid {
            border: 1px solid red;
            box-shadow: 0 0 10px 0 red;
         }
      }
   }
}

input:active,
input:focus,
input:hover {
   &.rf-form {
      outline: none;
   }
}

textarea.rf-form {
   min-width: 100%;
   max-width: 100%;
}


input,
select,
textarea {
   &.rf-form {
      width: 100%;
      border: 1px solid $darkwhite;
      background: #fff;
      padding: 5px;
      margin: 4px 0;
   }
}
