<!DOCTYPE html>
<html class="homepage clearfix" ng-app="homepage" itemscope itemtype="https://schema.org/WebApplication">

<head>
	<!-- build:section layout.head -->
	<!-- /build -->
	<link rel="alternate" hreflang="de" href="https://www.rapidfacture.com/de/contact.html" />
	<link rel="alternate" hreflang="en" href="https://www.rapidfacture.com/en/contact.html" />

	<meta name="description" content="[[META_DESCRIPTION_aboutUs]]">
	<meta name="keywords" content="[[META_KEYWORDS_aboutUs]]">

	<title>[[rapidfactureAboutUs]]</title>
</head>

<body class="about " ng-controller="contactController">
	<!-- build:section recursive layout.nav -->
	<!-- /build -->

	<div class="content-container margin-nav">

		<img class="intro-img" src="img/office.jpg" alt="about">
		<a id="contact-person"></a>

		<div class="contact-divider rf-page-divider">
			<div class="divider-text">[[yourContactPerson]]</div>
		</div>

		<br>
		<br>

		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<br>
					<h2 class="bold">[[WeAreHappyToHelp]]</h2>
					<br>
					<br>
					<br>
				</div>
				<div class="col-xs-12 col-sm-6">
					<h3 class="bold">[[areaProductionSolutions]]</h3>
					<h4 style="color: grey">[[allFromOneSource]]</h4>
					<br>
					<a class="bold" href="mailto:fertigung@rapidfacture.com" title="Mail an RAPIDFACTURE senden">fertigung@rapidfacture.com</a>
					<br>
					<br>
					<!-- <div class="row contact-person">
						<img class="col-md-4 col-sm-6 col-xs-5 contact-person-img" src="./img/team/gray350.png" alt="Ulrich Deister">
						<div class="col-md-8 col-sm-6 col-xs-7">
							<h4 class="bold">
								<p>[[productionAndProjectCoordinator]]</p>
							</h4>
							Ulrich Deister
							<br>
							<a href="mailto:ulrich.deister@rapidfacture.com" title="Mail an RAPIDFACTURE senden">ulrich.deister@rapidfacture.com</a>
							<br>
							<br>
							<a href="tel:[[mainPhoneNumber]]" title="RAPIDFACTURE anrufen">+49 89 2154 018 - 75</a>
						</div>
					</div>
					<div class="row contact-person">
						<img class="col-md-4 col-sm-6 col-xs-5 contact-person-img" src="./img/team/gray350.png" alt="Marc Niewöhner">
						<div class="col-md-8 col-sm-6 col-xs-7">
							<h4 class="bold">
								<p>[[productionAndProjectCoordinator]]</p>
							</h4>
							Marc Niewöhner
							<br>
							<a href="mailto:marc.niewoehner@rapidfacture.com" title="Mail an RAPIDFACTURE senden">marc.niewoehner@rapidfacture.com</a>
							<br>
							<br>
							<a href="tel:[[mainPhoneNumber]]" title="RAPIDFACTURE anrufen">+49 89 2154 018 - 75</a>
						</div>
					</div> -->

					<!-- Production and projectcoordination without person -->




					<div class="row contact-person">
						<img class="col-md-4 col-sm-6 col-xs-5 contact-person-img" src="./img/downloads/Drehen-MTO-1.jpg" alt="Drehmaschine">
						<div class="col-md-8 col-sm-6 col-xs-7">
							<h4 class="bold">
								<p>[[productionAndProjectCoordinator]]</p>
							</h4>
							<br>
							<p>[[inCooperationWithMTO]]</p>
							<br>
							<a href="tel:[[mainPhoneNumber]]" title="RAPIDFACTURE anrufen">+49 89 2154 018 - 75</a>
						</div>
					</div>

				</div>
				<div class="col-xs-12 col-sm-6">
					<h3 class="bold">[[areaSoftwareSolutions]]</h3>
					<h4 style="color: grey">[[weDigitalizeYourProduction]]</h4>
					<br>
					<a class="bold" href="mailto:software@rapidfacture.com" title="Mail an RAPIDFACTURE senden">software@rapidfacture.com</a>
					<br>
					<br>
					<div class="row contact-person">
						<img class="col-md-4 col-sm-6 col-xs-5 contact-person-img" src="./img/team/felix_350.png" alt="felixFurtmayr">
						<div class="col-md-8 col-sm-6 col-xs-7">
							<h4 class="bold">
								<p>[[sales]]</p>
								<p>[[specsAndProjManagement]]</p>
							</h4>
							Felix Furtmayr
							<br>
							<a href="mailto:felix.furtmayr@rapidfacture.com" title="Mail an RAPIDFACTURE senden">felix.furtmayr@rapidfacture.com</a>
							<br>
							<br>
							<a href="tel:[[mainPhoneNumber]]" title="RAPIDFACTURE anrufen">+49 89 2154 018 - 33</a>
						</div>
					</div>
					<div class="row contact-person">
						<img class="col-md-4 col-sm-6 col-xs-5 contact-person-img" src="./img/team/torstenFoerster.jpg" alt="torstenFörster">
						<div class="col-md-8 col-sm-6 col-xs-7">
							<h4 class="bold">
								<p>[[salesManagement]] [[northernGermany]]</p>
							</h4>
							Torsten Förster
							<br>
							<a href="mailto:torsten.foerster@rapidfacture.com" title="Mail an RAPIDFACTURE senden">torsten.foerster@rapidfacture.com</a>
							<br>
							<br>
							<a href="tel:[[mainPhoneNumber]]" title="RAPIDFACTURE anrufen">+49 89 2154 018 - 83</a>
						</div>
					</div>
					<div class="row contact-person">
						<img class="col-md-4 col-sm-6 col-xs-5 contact-person-img" src="./img/team/bernhardRoemer.jpg" alt="bernhardRömer">
						<div class="col-md-8 col-sm-6 col-xs-7">
							<h4 class="bold">[[programmingAndAutomation]]</h4>
							Bernhard Römer
							<br>
							<a href="mailto:bernhard.roemer@rapidfacture.com" title="Mail an RAPIDFACTURE senden">bernhard.roemer@rapidfacture.com</a>
							<br>
							<br>
							<a href="tel:+4989215401827" title="RAPIDFACTURE anrufen">+49 89 2154 018 - 27</a>
						</div>
					</div>
					<div class="row contact-person">
						<img class="col-md-4 col-sm-6 col-xs-5 contact-person-img" src="./img/team/andreaSonnenberg.jpg" alt="andreaSonnenberg">
						<div class="col-md-8 col-sm-6 col-xs-7">
							<h4 class="bold">[[managementAssistant]]</h4>
							Andrea Sonnenberg
							<br>
							<a href="mailto:andrea.sonnenberg@rapidfacture.com" title="Mail an RAPIDFACTURE senden">andrea.sonnenberg@rapidfacture.com</a>
							<br>
							<br>
							<a href="tel:[[mainPhoneNumber]]" title="RAPIDFACTURE anrufen">+49 89 2154 018 - 25</a>
						</div>
					</div>
				</div>
			</div>

		</div>


		<br>
		<br>

		<a id="contact"></a>
		<div class="rf-page-divider">
			<div>[[contact]]</div>
		</div>

		<br>
		<br>

		<div class="about-history container">
			<div class="row">
				<div class="contact-container">
					<div class="col-xs-12 col-md-4 ">
						<span class="bold">[[fullCompanyName]]</span>
						<br> [[officeAddressStreet]]
						<br> [[officeAddressPostalCode]] [[officeAddressCity]]
						<br> [[mainAddressCountry]]
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="col-xs-12 contact-conect ">
							<img src="img/tel.svg" alt="tel" class="contact-icon">
							<a href="tel:[[mainPhoneNumber]]" title="RAPIDFACTURE anrufen">[[mainPhoneNumber]]</a>
						</div>
						<div class="col-xs-12 contact-conect">
							<img src="img/mail.svg" alt="mail" class="contact-icon">
							<a href="mailto:info@rapidfacture.com" title="Mail an RAPIDFACTURE senden">info@rapidfacture.com</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<h4 class="bold">[[WeAreHappyToHelp]]</h4>
						<div class="contact-day">
							<span>[[MonFri]]</span>
							<span>9:00 - 18:00</span>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2654.9940022487394!2d11.5643675154737!3d48.283731248949366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e71cf04e9b90f%3A0x46ebe8e36e5adf91!2sMax-Planck-Stra%C3%9Fe+7%2C+85716+Unterschlei%C3%9Fheim!5e0!3m2!1sen!2sde!4v1536582531675"
						width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<h4 class="bold-float">FOLLOW US</h4>
					<div class=" contact-social">
						<a href="https://www.linkedin.com/company/rapidfacture" target="_blank" title="LinkedIn" style="height: 25px">
							<img src="img/LinkedIn.png" alt="LinkedIn" class="contact-social-icon">
						</a>
						<!-- <a href="https://google.com" target="_blank" title="google" class="contact-social-link">
					  <img src="img/google.svg" alt="google" class="contact-social-icon">
					</a> -->
					</div>
				</div>
			</div>
		</div>

		<br>
		<br>

		<a id="contact-form"></a>
		<div class="contact-divider rf-page-divider">
			<div class="divider-text">[[contactForm]]</div>
		</div>
		<br>
		<br>

		<div class="container">
			<div class="request">
				<form name='contactform' class="contact-form" novalidate ng-class="{validate: validate}">
					<fieldset>
						<div class="col-xs-12 contact-field">
							<input id="name" name="name" placeholder="[[name]] *" ng-model="message.name" class="form-control" type="text" ng-maxlength="50" required />
						</div>
						<!-- <div class="col-xs-12 contact-field">
							<input id="FirstName" name="LastName" placeholder="[[yourLastname]] *" ng-model="message.lastname" class=" form-control"
								type="text" ng-maxlength="50" required/>
						</div> -->
						<div class="col-xs-12 contact-field">
							<input id="email" name="EMAIL" placeholder="[[emailAddress]] *" ng-model="message.email" class="form-control" ng-pattern="/^[a-zA-Z0-9!#$%'*+=?^_`{|}~.-]+[@][a-z0-9-_]+[\.][a-z0-9-]+$/" ng-minlength="5" ng-maxlength="50" required />
						</div>

						<div class="col-xs-12 contact-field">
							<input id="phone" name="Tel" placeholder="[[phoneNumber]]" class="form-control" ng-model="message.phone" ng-pattern="/^[^a-zA-Z(){},.!§$%=?]+$/" ng-maxlength="25" />
						</div>
						<!-- <div class="col-xs-12 contact-field">
							<input id="company-size" type="text" name="companySize" placeholder="[[companySize]]" class="form-control"
								ng-model="message.companySize" ng-maxlength="50" />
						</div> -->
						<div class="col-xs-12 contact-field">
							<input id="subject" name="subject" placeholder="[[subject]]" ng-model="message.subject" class="form-control" type="text" ng-maxlength="50" />
						</div>
						<div class="col-xs-12 contact-field">
							<textarea id="message" ng-model="message.message" placeholder="[[yourRequest]] *" class="message form-control" required></textarea>
						</div>
						<div class="col-xs-3 contact-field">
							<div id="request-now" ng-click="sendContact()" class="btn rf-btn ">
								<span>[[send]]</span>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-show="sendComplete">
					<br>
					<br>
					<div class="alert alert-success emit" ng-class="{showmessage: sendComplete === true}" role="alert">
						[[messageSent]]
					</div>
				</div>
				<div ng-show="sendError">
					<br>
					<br>
					<div class="alert alert-danger emit" ng-class="{showmessage: sendError === true}" role="alert">
						[[messageError]]
					</div>
				</div>
			</div>
		</div>

		<br>
		<br>

		<!-- build:section recursive layout.footer -->
		<!-- /build -->

	</div>


</body>

</html>
