<!DOCTYPE html>
<html class="homepage clearfix" ng-app="homepage" itemscope itemtype="https://schema.org/WebApplication">

<head>
   <!-- build:section layout.head -->
   <!-- /build -->
   <link rel="alternate" hreflang="de" href="https://www.rapidfacture.com/de/index.html" />
   <link rel="alternate" hreflang="en" href="https://www.rapidfacture.com/en/index.html" />
   <link rel="alternate" hreflang="x-default" href="https://www.rapidfacture.com/" />
   <meta name="keywords" content="[[META_KEYWORDS_index]]">
   <meta name="description" content="[[META_DESCRIPTION_index]]">
   <title itemprop="creator">[[rapidFactureIndexHeadline]]</title>
</head>

<body class="production">



   <!-- build:section recursive layout.nav -->
   <!-- /build -->

   <rf-contact-note></rf-contact-note>

   <br>

   <div class="content-container margin-nav">


      <!-- build:process -->
      <div class="page-top">

         <!-- <div class="hannoverMesseBannerSmallScreen">
       <a href="https://www.cebit.de">
       <img src="img/tradeFairs/cebit_banner_vertical_[[language]].svg" alt="">
     </a>
   </div>
   <div class="hannoverMesseBannerLargeScreen">
   <a href="https://www.cebit.de">
   <img src="img/tradeFairs/cebit_banner_angle_[[language]].svg" alt="">
   </a>
   </div> -->

         <img src="img/whiteBorder.png" class="img-border" />

         <div class="label">
            <h1 class="responsive-heading">[[TurnedAndMilledPartsOnline]]</h1>
            <h2>[[ConstructCalculateOrder]]</h2>

            <h3><i class="glyphicon glyphicon-ok"></i>[[LiveCalculation]]</h3>
            <h3><i class="glyphicon glyphicon-ok"></i>[[ExpressProduction]]</h3>
            <h3><i class="glyphicon glyphicon-ok"></i>[[FromPieceNum1]]</h3>

            <img src="img/Spitzen.JPG" class="img2" />
            <img src="img/steel.JPG" class="img1" />
         </div>
         <div class="video">
            <video autoplay muted id="main-video" width="100%">
               <source src="vid/process.mp4" type="video/mp4">
               <source src="vid/boring.ogv" type="video/ogg">
               <source src="vid/boring.webm" type="video/webm">
            </video>
         </div>

      </div>


      <div class="page-break">
         <h4>[[startOnlineCadInfo]]</h4>
         <a href="<%= loginUrl %>">
            <button class="btn rf-btn">
               <h2 style="margin-top:10px">[[StartOnlineCAD]]</h2>
            </button>
         </a>
      </div>

      <!-- <div class="page">

   <div class="row">

   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

   <div class="col-md-4 col-lg-4">
   <a href="https://www.turning-days.de">
   <img src="img/tradeFairs/turningDays-logo.png">
   </a>
   </div>

   <div class="col-md-4 col-lg-4">
   <a href="http://www.cebit.de/product/drehteile-online/2271965/N321242">
   <img src="img/tradeFairs/ceBit-logo.png">
   </a>
   </div>

   <div class="col-xs-offset-3 col-xs-6">

   </div>

   </div>
   </div>
   </div> -->

      <div class="page-info">
         <div class="container ">
            <div class="row">

               <div class="border-container">
                  <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <h4>[[OnlineDesign]]</h4>

                        <div class="list-wrapper">
                           <ul class="details-list">
                              <li>[[ImportSTEP]] [[ConstructOnline]]</li>
                              <li>[[LiveCalculation]]</li>
                              <li>[[StandardDeliveryTime2-3Weeks]]</li>
                              <li>[[Express1Weekor3Days]]</li>
                           </ul>
                        </div>
                        <a href="index.html#cad">
                           <button class="btn rf-btn-thin">[[LearnMoreAboutOnlineCAD]]</button>
                        </a>
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <div class="img-container-right">
                           <img src="img/software/cad.png" />
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="border-container">
                  <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <h4>[[ProductionFromDrawing]]</h4>
                        <div class="list-wrapper">
                           <ul class="details-list">
                              <li>[[PDFpreferred]]</li>
                              <li>[[WeHelpYouMakeDraw]]</li>
                           </ul>
                        </div>
                        <a href="<%= loginUrl %>">
                           <button class="btn rf-btn-thin">[[GotoInquiry]]</button>
                        </a>
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <div class="img-container">
                           <img src="img/Schieber.png" style="width: 80%; margin-left: 10%;" />
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="border-container">
                  <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <h4>[[ProductionCapabilites]]</h4>
                        <div class="list-wrapper">
                           <ul class="details-list">
                              <li>[[TurningMillingDrilling]]</li>
                              <li>[[FiveAxisMilling]]</li>

                           </ul>
                           <ul class="details-list">
                              <li>[[Quantities1-1000]]</li>
                              <li>[[Diameter3-190mm]]</li>
                              <li>[[Length-450mm]]</li>
                              <li>[[ThreadsKnurlings]]</li>
                           </ul>

                        </div>
                        <a href="turning.html">
                           <button class="btn rf-btn-thin">[[LearnMoreAboutProduction]]</button>
                        </a>
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <div class="img-container">
                           <img src="img/features.png" />
                        </div>
                     </div>
                  </div>
               </div>
            </div>


         </div>
      </div>



      <div class="page-break" id="cad">
         <h2>[[OnlineCAD]]</h2>
      </div>



      <div class="page-process">
         <div class="row ">

            <div class="column-1 hidden-xs col-sm-3 col-md-3 col-lg-2">
               <img src="img/round_bg.png">
               <div class="step step-1">
                  <div class="bubble">
                     1
                  </div>
               </div>
               <div class="step step-2">
                  <div class="bubble">
                     2
                  </div>
               </div>
               <div class="step step-3">
                  <div class="bubble">
                     3
                  </div>
               </div>
               <div class="step step-4">
                  <div class="bubble">
                     4
                  </div>
               </div>
               <div class="step step-5">
                  <div class="bubble">
                     5
                  </div>
               </div>
            </div>

            <div class="column-2 col-xs-12 col-sm-9 col-md-9 col-lg-6">
               <div class="step step-1">
                  <div class="image">
                     <img src="img/process/kontur.png">
                  </div>
                  <div class="text">
                     <div class="title">
                        [[GetContourFromStepOrConstruct]]
                     </div>
                     <div class="desc">
                        [[CylinderConeAndCircularElements]]
                     </div>
                  </div>
               </div>

               <div class="step step-2">
                  <div class="image">
                     <img src="img/process/kanten.png">
                  </div>
                  <div class="text">
                     <div class="title">
                        [[DefineSurfacesAndEdges]]
                     </div>
                     <div class="desc">
                        [[RadiusChamferUndercutSurfacefinishThreadKnurled]]
                     </div>
                  </div>
               </div>

               <div class="step step-3">
                  <div class="image">
                     <img src="img/process/edit.png">
                  </div>
                  <div class="text">
                     <div class="title">
                        [[AddEdits]]
                     </div>
                     <div class="desc">
                        [[TransverseboreKeylengthsBoltcircles]]
                     </div>
                  </div>
               </div>

               <div class="step step-4">
                  <div class="image">
                     <img src="img/process/material.png">
                  </div>
                  <div class="text">
                     <div class="title">
                        [[ChooseTheMaterial]]
                     </div>
                     <div class="desc">
                        [[SteelStainlessSteelAluminumCopperMaterialsPlastics]]
                     </div>
                  </div>
               </div>

               <div class="step step-5">
                  <div class="image">
                     <img src="img/process/cart.png">
                  </div>
                  <div class="text">
                     <div class="title">
                        [[order]]
                     </div>
                     <div class="desc">
                        [[AlsoWithExpressDelivery]]
                     </div>
                  </div>
               </div>
            </div>

            <div class="column-3 col-xs-12 col-sm-4 col-md-4 col-lg-4">
               <div class="box features">
                  <div class="title">
                     [[Features]]
                  </div>
                  <div class="content">
                     <ul>
                        <li>
                           [[EasyHandling]]
                        </li>
                        <li>
                           [[LiveCalculation]]
                        </li>
                        <li>
                           [[Export2DDrawing]]
                        </li>
                        <li>
                           [[Export3DDrawingSTEPIGESSTL]]
                        </li>
                        <li>
                           [[WeightCalculation]]
                        </li>
                        <li>
                           [[SavingProjects]]
                        </li>
                        <li>
                           [[ExpressDelivery]]
                        </li>
                        <li>
                           [[UserAccount]]
                        </li>
                        <li>
                           [[DrawingManagement]]
                        </li>
                     </ul>

                     <a href="img/downloads/Rapidfacture_flyer_parts.pdf" class="btn rf-btn col-xs-12" download>
                        <i class="glyphicon glyphicon-download"></i>[[InfoFlyer]]
                     </a>
                  </div>
               </div>
            </div>
            <div class="column-3 col-xs-12 col-sm-4 col-md-4 col-lg-4">
               <div class="box service">
                  <div class="title">
                     [[Service]]
                  </div>
                  <div class="content">
                     <ul>
                        <li>
                           [[CreatingDrawings]]
                        </li>
                        <li>
                           [[IntegrationOfYourDrawings]]
                        </li>
                        <li>
                           [[SoftwareConsulting]]
                        </li>
                        <li>
                           [[Training]]
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>


      <div class="page-start-cad">
         <div class="row">
            <div class="column-start">
               <h2>[[BeginWith]]</h2>
            </div>

            <div class="container">
               <div class="col-xs-12 col-md-4">
                  <div class="border-container">
                     <h4>[[BeginWith_OnlineCAD]]</h4>
                     <a href="<%= loginUrl %>">
                        <img src="img/cad_go.png" />
                     </a>
                  </div>
               </div>

               <div class="col-xs-12 col-md-4">
                  <div class="border-container">
                     <h4>[[BeginWith_Template]]</h4>
                     <a href="<%= cadUrl %>[[link_CAD_Templates]]">
                        <img src="img/templates.png" style="width: 75%; margin-left: 12.5%;" />
                     </a>
                  </div>
               </div>

               <div class="col-xs-12 col-md-4">
                  <div class="border-container">
                     <h4>[[BeginWith_Video]]</h4>
                     <a href="https://www.youtube.com/watch?v=NDAIUZDOGxs">
                        <img src="img/introVideo.png" />
                     </a>
                     <!-- <a href="<%= cadUrl %>[[link_CAD_Info]]">
                 <img src="img/introVideo.png" />
               </a> -->
                  </div>
               </div>
            </div>
         </div>
      </div>




      <!-- build:process -->
      <div class="page-break" id="about-rf">
         <div class="title">
            [[AboutRapidfacture]]
         </div>
      </div>

      <div class="page about-rf">
         <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
               <br>
               <br>
               <br>

               <p>
                  [[AboutRapidfacture_P1]]
               </p>
               <div class="about-image hidden-xs hidden-sm col-md-2 col-lg-2">
                  <img src="img/examples.jpg">
               </div>
               <p>
                  [[AboutRapidfacture_P2]]
               </p>
               <p>
                  [[AboutRapidfacture_P3]]
               </p>

               <br>
               <br>
               <br>
            </div>

         </div>
      </div>

      <div class="page-break" id="testimonials">
         <h2 class="title">
            [[customersAboutUs]]
         </h2>
      </div>

      <br>
      <br>
      <br>

      <div class="page testimonials">
         <div class="row">
            <div class="testimonials-container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">


               <div class="testimonial row">
                  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                     <h3>
                        Carbon Drive
                     </h3>
                     <q>
                        [[customersFeedback_9]]
                     </q>
                     <br><br>
                     <a href="http://www.carbon-drive.de">
                        <img class="col-xs-12 col-sm-12 col-md-5 col-lg-5" src="img/testimonials/carbonDrive.png">
                     </a>
                     <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <b style="float:right">Martin Klimach</b><br>
                        <i style="float:right">Carbon Drive, CFK-Highspeed-Motorspindeln</i>
                     </div>
                  </div>
                  <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                     <img src="img/testimonials/customerFeedback9.jpg">
                  </div>
               </div>

               <div class="testimonial row">
                  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                     <h3>
                        [[customersFeedback_10]]
                     </h3>

                     <nq>
                        [[customersFeedback_DLR]]
                     </nq>
                  </div>
                  <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                     <a href="http://www.dlr.de">
                        <img class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="img/testimonials/DLR.png">
                     </a>
                  </div>
               </div>


               <div class="testimonial row">
                  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                     <h3>
                        YUANDA Robotics
                     </h3>
                     <q>
                        [[customersFeedback_yuanda]]
                     </q>
                     <br><br>
                     <a href="https://www.yuanda-robotics.de">
                        <img class="col-xs-12 col-sm-12 col-md-5 col-lg-5" src="img/testimonials/logo-yuanda-with-background-big.svg">
                     </a>
                     <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <b style="float:right">Nico Angerstein</b><br>
                        <i style="float:right">YUANDA Robotics</i>
                     </div>
                  </div>
                  <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                     <img src="img/testimonials/robot-yuanda.png">
                  </div>
               </div>

            </div>
         </div>
      </div>

      <br>
      <br>
      <br>


      <script>
         var videoLoopIntervalTime = 12; // seconds
         var video = document.getElementById('main-video');
         video.addEventListener('ended', function(event) {
            setTimeout(function() {
               video.play();
            }, videoLoopIntervalTime * 1000);
         }, false);

         setTimeout(function() {
            slideShow();
         }, 1000);
      </script>



      <!-- /build -->

      <!-- build:section recursive layout.footer -->
      <!-- /build -->

   </div>
</body>

</html>
