<!DOCTYPE html>
<html class="homepage clearfix" ng-app="homepage" itemscope itemtype="https://schema.org/WebApplication">

<head>
   <!-- build:section layout.head -->
   <!-- /build -->
   <link rel="alternate" hreflang="de" href="https://www.rapidfacture.com/de/software.html" />
   <link rel="alternate" hreflang="en" href="https://www.rapidfacture.com/en/software.html" />
   <!--link rel="alternate" hreflang="x-default" href="https://www.rapidfacture.com/" /-->

   <meta name="keywords" content="[[META_KEYWORDS_software]]">
   <meta name="description" content="[[META_DESCRIPTION_software]]">
   <title itemprop="creator">[[rapidFactureIndexHeadline]]</title>

</head>

<body class="software-custom">
   <!-- build:section recursive layout.nav -->
   <!-- /build -->

   <!-- build:process -->

   <rf-contact-note></rf-contact-note>



   <div class="content-container margin-nav">

      <img class="intro-img" src="../img/software/tablet_header.png" alt="">

      <div class="rf-page-divider">
         <div class="divider-text">[[individualSoftware]]</div>
      </div>

      <br>

      <div class="container">

         <br>
         <h1 class="divider-head">[[rangeOfService]]</h1>
         <!-- <div class="row">
            <div class="col-xs-8">
               <img src="./img/software/rf-individual-software-solutions.svg"
                  alt="Rapidfacture Individual Software Solutions">
            </div>
         </div> -->
         <br>

         <div class="software-services">
            <div class="row">
               <div class="col-xs-12">
                  <p class="software-text">[[individualSoftware1]]</p>
                  <div class="software-text">
                     <p>[[individualSoftware2]]</p>
                     <p>[[individualSoftware3]]</p>
                     <p>[[individualSoftware4]]</p>
                     <p>[[individualSoftware5]]</p>
                  </div>
                  <br><br>
                  <h1 class="divider-head">[[coreCompetencies]]</h1>
                  <ul>
                     <li><img class="checkmark" src="./img/checkmark.svg">[[coreCompetencies1]]</li>
                     <li><img class="checkmark" src="./img/checkmark.svg">[[coreCompetencies2]]</li>
                     <li><img class="checkmark" src="./img/checkmark.svg">[[coreCompetencies3]]</li>
                     <li><img class="checkmark" src="./img/checkmark.svg">[[coreCompetencies4]]</li>
                     <li><img class="checkmark" src="./img/checkmark.svg">[[coreCompetencies5]]</li>
                  </ul>
               </div>
            </div>
         </div>


         <br><br>
         <hr>

         <!-- SRS block begin -->
         <div class="row">
            <div class="col-xs-12">
               <h1 class="divider-head">[[References]]</h1>
               <br>
               [[transitionToSoftware]]
               <div class="row">
                  <div class="label-and-title col-md-12 col-lg-12">
                     <div class="row">
                        <h2 class="title col-md-10 col-lg-10">[[StahlOnlineConfigurator]]</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-7 carouselbox rf-carousel" autoplay="false">
                     <button class="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                     </button>
                     <ol class="content">
                        <li>
                           <div class="video">
                              <video muted width="100%" controls>
                                 <source src="vid/srs-shop-fhd.mp4" type="video/mp4">
                              </video>
                           </div>
                        </li>
                        <li>
                           <div class="row">
                              <div class="col-xs-12">
                                 <img class="reference-img" src="../img/software/srs_calculator.png" alt="SRS-Stahl Calculator">
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="row">
                              <div class="col-xs-12">
                                 <img class="reference-img" src="../img/software/srs-shop-geometry-selection.png" alt="SRS-Stahl Shop - Geometry selection">
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="row">
                              <div class="col-xs-12">
                                 <img class="reference-img" src="../img/software/srs-shopping-cart.png" alt="SRS-Stahl Shop - Shopping cart">
                              </div>
                           </div>
                        </li>
                     </ol>
                     <button class="next">
                        <span class="glyphicon glyphicon-chevron-right big"></span>
                     </button>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 software-serv">
                     <h2>[[services]]:</h2>
                     <ul class="padded-list">
                        <li>
                           [[softwareServices1_1]]
                        </li>
                        <li>
                           [[softwareServices1_2]]
                        </li>
                        <li>
                           [[softwareServices1_3]]
                        </li>
                        <li>
                           [[softwareServices1_4]]
                        </li>
                     </ul>
                     <br>
                     <div>
                        <a href="https://shop.srs-stahl.de/#/item/format=BLOCK~2FBLECH/filter=Edelstahl/guete=/sort=breite/order=1/param1=/params2=/sort2=laenge" target="_blank">
                           <button class="label col-xs-12 col-sm-12 col-md-10">
                              [[testHereLive]]
                           </button>
                        </a>
                     </div>
                  </div>
               </div>
               <br>
               <br>
               <br>
               <div class="col borderbox">
                  <div class="row">
                     <div class="col-xs-8">
                        <p class="recommendation">"[[recommendationSrsStahl]]"</p>
                        <br>
                        <p class="recommendated-from">[[recommendatedFromSrsStahl]]</p>
                        <br>
                     </div>
                     <div class="col-xs-3">
                        <img class="float-right" src="../img/software/r_stoll-round.png" alt="Richard Stoll">
                     </div>
                  </div>
                  <div class="row">
                     <img class="imagebox-small" src="../img/software/logo_srs.png" alt="SRS-Stahl">
                  </div>
               </div>
            </div>
         </div>
         <!-- SRS block end -->


         <br><br>
         <hr>
         <br><br>


         <!-- Thermorouter block begin -->
         <div class="row">
            <div class="label-and-title col-md-12 col-lg-12">
               <div class="row">
                  <h2 class="title col-md-10 col-lg-10">[[ThermocyclingThermorouter]]</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 carouselbox rf-carousel" autoplay="false">
               <button class="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
               </button>
               <ol class="content">
                  <li>
                     <div class="row">
                        <div class="col-xs-12">
                           <img class="reference-img" src="../img/software/thermorouter-hauptansicht.png" alt="Thermorouter Hauptansicht">
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="row">
                        <div class="col-xs-12">
                           <img class="reference-img" src="../img/software/thermorouter-neuer-kreis.png" alt="Thermorouter Neuer Kreis">
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="row">
                        <div class="col-xs-12">
                           <img class="reference-img" src="../img/software/thermorouter-viele-kreise.png" alt="Thermorouter, viele Kreise">
                        </div>
                     </div>
                  </li>
               </ol>
               <button class="next">
                  <span class="glyphicon glyphicon-chevron-right big"></span>
               </button>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 software-serv">

               <h2>[[services]]:</h2>
               <ul class="padded-list">
                  <li>
                     [[thermorouter_text_1.1]]
                  </li>
                  <li>
                     [[thermorouter_text_1.2]]
                  </li>
                  <li>
                     [[thermorouter_text_1.3]]
                  </li>
                  <li>
                     [[thermorouter_text_1.4]]
                  </li>
                  <li>
                     [[thermorouter_text_1.5]]
                  </li>
               </ul>
               <br>
               <div>
                  <a href="https://thermorouter.rapidfacture.cloud/#/start" target="_blank">
                     <button class="label col-xs-12 col-sm-12 col-md-10">
                        [[testHereLive]]
                     </button>
                  </a>
               </div>
            </div>
         </div>
         <br>
         <br>
         <br>
         <div class="col borderbox">
            <div class="row">
               <div class="col-xs-8">
                  <p class="recommendation">"[[recommendationThermocycling]]"</p>
                  <br>
                  <p class="recommendated-from">[[recommendatedFromThermocycling]]</p>
                  <br>
               </div>
               <div class="col-xs-3">
                  <!-- <img class="float-right" src="" alt="Mario Rauter"> -->
               </div>
            </div>
            <div class="row">
               <!-- <img class="imagebox-small" src="" alt="Thermocycling"> -->
            </div>
         </div>
         <!-- Thermorouter block end -->

         <br><br>
         <hr>
         <br><br>

         <!-- CAD block begin -->
         <div class="row">
            <div class="col-xs-12">
               <div class="row">
                  <div class="col-xs-5 col-sm-4">
                     <img src="../img/software/logo_rf_cad.svg" alt="Rapidfacture">
                  </div>
               </div>
               <br><br>
               <div class="row">
                  <div class="col-xs-12">
                     <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-7 carouselbox rf-carousel" autoplay="false">
                           <button class="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                           </button>
                           <ol class="content">
                              <li>
                                 <div class="video">
                                    <video muted width="100%" controls>
                                       <source src="vid/cad-fhd-2.mp4" type="video/mp4">
                                    </video>
                                 </div>
                              </li>
                              <li>
                                 <div class="row">
                                    <div class="col-xs-12">
                                       <img class="reference-img" src="../img/software/rf_cad_configurator.png" alt="Rapidfacture CAD Configurator">
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="row">
                                    <div class="col-xs-12">
                                       <img class="reference-img" src="../img/software/rf_cad_cart.png" alt="Rapidfacture CAD Cart">
                                    </div>
                                 </div>
                              </li>
                           </ol>
                           <button class="next">
                              <span class="glyphicon glyphicon-chevron-right big"></span>
                           </button>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 software-serv">

                           <h2>[[services]]:</h2>
                           <ul class="padded-list">
                              <li>
                                 [[softwareServices2_1]]
                              </li>
                              <li>
                                 [[softwareServices2_2]]
                              </li>
                           </ul>
                           <br>
                           <div>
                              <a href="https://cad.rapidfacture.com/#/login" target="_blank">
                                 <button class="label col-xs-12 col-sm-12 col-md-10">
                                    [[testHereLive]]
                                 </button>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- CAD block end -->


         <br><br><br><br>

         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <h1 class="divider-head">[[technologies]]</h1>
                  <br>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12">
                  [[ourTechnologies1]]
                  <br><br>
                  [[ourTechnologies2]]
               </div>
            </div>
            <br>
            <div class="row">
               <div class="col-xs-12">
                  <div class="logo-container">
                     <img class="technologie-logo" src="./img/software/angular_logo.png" alt="Angular">
                     <img class="technologie-logo" src="./img/software/nodejs_logo.png" alt="nodeJS">
                     <img class="technologie-logo" src="./img/software/mongodb_logo.jpg" alt="mongoDB">
                     <img class="technologie-logo" src="./img/software/open_cascade_logo.gif" alt="OPEN CASCADE">
                     <img class="technologie-logo" src="./img/software/three_js_logo.png" alt="three.js">
                     <img class="technologie-logo" src="./img/software/d3_logo.png" alt="D3">
                     <img class="technologie-logo" src="./img/software/grunt_logo.png" alt="Grunt">
                     <img class="technologie-logo" src="./img/software/python_logo.png" alt="python">
                  </div>
               </div>
            </div>
         </div>
      </div>

      <br>
      <br>
      <br>
      <br>

      <div class="page-break page-break-orange">
         <h1>
            [[interestedContactUs]]
         </h1>
      </div>

      <div class="page-contact form" ng-controller="contactController">
         <div class="container">
            <div class="row">
               <div class="col-xs-10 col-xs-offset-1">
                  <br>
                  <br>
                  <div class="row">
                     <div class="col-xs-12">
                        <h3>[[getACustomOffer]]</h3>
                     </div>
                  </div>
                  <br>
                  <div class="row">
                     <div class="col-xs-12 col-sm-5">
                        <rf-contact-felix></rf-contact-felix>
                     </div>
                     <div class="col-xs-12 col-sm-offset-1 col-sm-6">
                        <div class="request">
                           <form class="contact-form" id="contact-form-second" name="contactform" novalidate ng-class="{validate: validate}">
                              <fieldset>
                                 <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                       <input id="name-second" name="NAME" placeholder="[[name]] *" ng-model="message.name" class="form-control grey-input" type="text" ng-maxlength="50" required />
                                       <br>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                       <input id="company-second" name="COMPANY" placeholder="[[company]]" ng-model="message.company" class="form-control grey-input" type="text" ng-maxlength="50" />
                                       <br>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                       <input id="phone-second" name="PHONE" placeholder="[[yourPhone]] *" ng-model="message.phone" class="form-control grey-input" type="text" ng-maxlength="50" required />
                                       <br>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                       <input id="email-second" name="EMAIL" placeholder="[[yourEmail]] *" ng-model="message.email" class="form-control grey-input" type="email" ng-valid="/^[a-zA-Z0-9!#$%'*+=?^_`{|}~.-]+[@][a-z0-9-_]+[\.][a-z0-9-]+$/"
                                          ng-minlength="5" ng-maxlength="50" required />
                                       <br>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                       <textarea id="message-second" ng-model="message.message" placeholder="[[yourMessage]] *" class="message form-control grey-input rf-form" required></textarea>
                                       <br>
                                    </div>
                                    <div class="col-xs-6">
                                       <div id="request-now-second" ng-click="sendContact()" class="btn rf-btn form-control">
                                          <span>[[send]]</span>
                                       </div>
                                    </div>
                                    <div class="col-xs-6 required-info">
                                       [[allMarkedAreMandatory]]
                                    </div>
                                 </div>
                                 <div class="row privacy-info">
                                    <i class="glyphicon glyphicon-lock"></i>
                                    <span>[[privacyInfo]]
                                       <a href="privacy-policy.html">[[privacyPolicy]]</a>
                                    </span>
                                 </div>

                                 <br><br>

                              </fieldset>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <div ng-show="sendComplete">
                  <br>
                  <br>
                  <div class="alert alert-success emit" ng-class="{showmessage: sendComplete === true}" role="alert">
                     [[messageSent]]
                  </div>
               </div>
               <div ng-show="sendError">
                  <br>
                  <br>
                  <div class="alert alert-danger emit" ng-class="{showmessage: sendError === true}" role="alert">
                     [[messageError]]
                  </div>
               </div>
            </div>
         </div>
      </div>




      <!-- /build -->


      <!-- build:section recursive layout.footer -->
      <!-- /build -->

   </div>

   <!-- Chat bot-->
   <script>
      window.intergramId = "-341142967";
      window.intergramCustomizations = {
         titleClosed: '[[closedChat]]',
         titleOpen: '[[openedChat]]',
         introMessage: '[[welcomeChat]]',
         autoResponse: '[[responseChat]]',
         autoNoResponse: '[[noResponseChat]]',
         mainColor: "#E64A19",
         alwaysUseFloatingButton: false
      };
   </script>
   <script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>
</body>

</html>
