rf-contact-note{
   display: block;
   position: fixed;
   right: 0;
   top: 100px;
   z-index: 9999999;
   width: 0px;
   color: white;
   font-size: 16px;

   .glyphicon{
      color: white;
      font-size: 18px;
      padding: 7px 10px;
   }

   .glyphicon-remove-circle{
      float: right;
      font-size: 30px;
      margin: -9px 0 0 0;
      color: $orange;
   }

   .switch{
      background: $orange;
      position: absolute;
      right: 0px;
      width: 35px;
      height: 35px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
   }

   .note{
      padding: 20px;
      width: 250px;
      position: absolute;
      background: $darkgrey;
      right: -250px;
      @include transition(0.5s);
      &.active{
         right: 0;
         @include transition(0.5s);
      }
      .heading{
         font-size: 20px;
      }

      a{
         color: $orange;
      }
   }
}
