<div class="switch" ng-click="showNote = !showNote">
   <i class="glyphicon glyphicon-earphone"></i>
</div>

<div class="note" ng-class="{active: showNote}">
   <div class="style-swticher-header">
      <div class="heading">[[contact]] <i class="glyphicon glyphicon-remove-circle" ng-click="showNote = !showNote"></i></div>
   </div>
   <br>
   <div class="style-swticher-body">
      <div class="style-switcher-heading"> Rapidfacture GmbH</div>
      Lerchenhöhe 22
      <br>
      85276 Pfaffenhofen
      <br>
      <hr>
      Tel: <br>
      +49 (0) 8442 / 929 18 77
      <br>
      <br> E-Mail: <br>
      <a title="E-Mail" href="mailto:info@rapidfacture.com">
         info@rapidfacture.com
      </a>
      <br>
      <br>
      <a href="contact.html">
         <button class="btn rf-btn">
            [[toContactForm]]
         </button>
      </a>



   </div>
</div>
